.benefits {
    position: relative;

    &-gradient-left {
        position: absolute;
        top: -35rem;
        z-index: -1;
    }

    &-block {
        display: flex;
        justify-content: space-between;
        padding: 1.6rem 0;
        
        &-item {
            box-shadow: 0 8px 32px rgba(0, 131, 179, 0.2);
            border-radius: 16px;
            background-color: #fff;
            width: 34.4rem;
            height: 35rem;
            text-align: center;

            &-logo {
                padding: 4rem 0;
           
            }

            h1 {
                color: #2c2d3f;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0.7px;
            }

            p {
                padding-top: 2rem;
                color: #757588;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.28px;
                line-height: 24px;
            }
        }
    }

   
}