.documents {
    height: 104rem;
    background: url('../img/documents-bg.jpg') center top no-repeat;
    margin-top: 10rem;

    .header-block {
        margin-top: 0;
        padding-top: 24rem;
    }

    &-block {
        display: flex;
        justify-content: space-between;
        padding-top: 12rem;

        &-item {
            position: relative;
            width: 35rem;
            height: 22.5rem;
            text-align: center;
            box-shadow: 0 8px 32px rgba(0, 131, 179, 0.2);
            border-radius: 16px;
            background-color: #ffffff;
            padding: 0 2rem;

            &-icon {
                padding: 3.2rem 0;
            }

            h2 {
                color: #2c2d3f;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 0.6px;
                padding-bottom: 1.5rem;
            }

            span {
                color: #757588;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
            }

            &-download {
                display: none;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background-image: linear-gradient(180deg, #2c308e 0%, #1e83c6 100%);
                opacity: 0.9;
                border-radius: 16px;
                cursor: pointer;

                p {
                    color: #ffffff;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 2.4px;
                    padding-top: 2rem;
                }
            }

            &:hover{
                .documents-block-item-download {
                    display: block;
                }
            }
        }
    }
    &-partners {
        display: flex;
        justify-content: space-around;
        padding: 11rem 0 14rem;
    }
}