.insurance {
    height: 75rem;
    background: url('../img/insurance-bg.png') center 14rem no-repeat;

    &-block {
        display: flex;
        justify-content: space-between;

        ul {
            list-style: none;
            text-align: right;
            width: 35rem;

            li {
                padding-bottom: 3.5rem;
                color: #2c2d3f;
                font-size: 1.4rem;
                font-weight: 700;
                letter-spacing: 1.4px;

                span {
                    color: #757588;
                    font-size: 12px;
                    font-weight: 400;
                    display: block;
                    padding-top: 1rem;
                }

                &.insurance-block-title {
                    padding-bottom: 4.2rem;
                    color: #2c308e;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 0.8px;
                }
            }

            &:last-child {
                text-align: left;
            }
        }
    }

    &-button {
        padding-top: 9rem;
        text-align: center;
    }
}