.mainblock {
    min-height: 100vh;
    background: url('../img/header-bg.jpg') center no-repeat;
    position: relative;
    z-index: 2;

    &-gradient {
        &-right {
            position: absolute;
            width: 60%;
            top: 0;
            right: 0;
        }

        &-left {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 197px;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        position: absolute;
        top: 4rem;
        width: 100%;

        &-logo {
            margin-right: auto;
        }

        &-item {
            display: flex;
            color: #ffffff;
            letter-spacing: 0.9px;
            padding: 0 2rem;

            img {
                margin: 3px 8px;
            }
        }
    }

    &-title {
        color: #fff;
        line-height: 64px;
        position: absolute;
        top: 50vh;
        transform: translateY(-50%);

        h1 {
            font-size: 56px;
            font-weight: 700;
            letter-spacing: 11.2px;
        }

        h2 {
            font-size: 35px;
            font-weight: 400;
            letter-spacing: 1.75px;
        }
    }

    &-feedback {
        position: absolute;
        right: -8rem;
        top: 18rem;
        width: 496px;
        padding: 4.4rem 3.3rem 3.8rem 3.3rem;
        box-shadow: 0 8px 32px rgba(0, 131, 179, 0.2);
        border-radius: 16px;
        background-color: #fff;

        &-title {
            text-align: center;
            color: #2c2d3f;
            font-size: 22px;
            font-weight: 500;

            &::after {
                content: '';
                display: block;
                height: 4px;
                width: 16rem;
                border-radius: 2px;
                background-color: #f5b80e;
                margin: 2rem auto 5rem;
            }
        }

        &-label {
            display: block;
            color: #757588;
            font-size: 12px;
            font-weight: 700;
            padding-bottom: 3rem ;
            text-indent: 2.5rem;

            &::after {
                content: '';
                display: block;
                height: 2px;
                width: 100%;
                border-radius: 1px;
                background-color: #f5f5f7;
            }
        }

        &-input {
            display: block;
            outline: none;
            width: 100%;
            border: 0;
            padding-left: 2.5rem;
            height: 3rem;
            color: #2c2d3f;
            font-size: 18px;
            font-weight: 500;
        }

        &-textarea {
            width: 100%;
            height: 128px;
            padding: 2rem 2.5rem;
            color: #2c2d3f;
            font-size: 12px;
            font-weight: 700;
            outline: none;
            border: 0;
            background-color: #f5f5f7;
            border-radius: 8px;
            resize: none;
        }

        &-btn {
            text-align: center;
            padding-top: 4.8rem;
        }
    }
}